.main {
    background-color: #212529;
}

.header {

}

.header-element {
    color: blanchedalmond;
    padding: .5rem .5rem;
    border: solid #FFFFFF26;
    border-width: 0 0 1px 0;
    vertical-align: top;
    font-family: 'RockAndRoll', serif;
}

.header-col-size {
    width: 150px;
}

.row-element {
    color: #d3d7dc;
    padding: .5rem .5rem;
    border: solid #FFFFFF26;
    border-width: 0 0 1px 0;
}

.row-pointer-cell {
    font-family: 'RockAndRoll', serif;
    color: mintcream;
}

.prev-box {
    float: left;
    margin-left: 10px;
    font-size: x-small;
    margin-top: 13px;
    color: bisque
}

.up-color {
    color: #7FFF00;
    font-size: larger;
}

.down-color {
    color: #fc185a;
    font-size: larger;
}

.nil-color {
    color: #d3d7dc;
    font-size: larger;
}
